<!-- Made by Hyro 
Website: https://hyrousek.tk
Github: https://github.com/xHyroM
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://dev.hyrousek.tk/css/beautiful.css" rel="stylesheet">
    <title>Uptimo Login</title>
    <link href="https://dev.hyrousek.tk/css/beautiful.css" rel="stylesheet">

  	<meta property="og:title" content="Uptimo Login & Register">
    <meta content="Better uptime script!" property="og:description">
    <meta name="theme-color" content="#eb4034">
  </head>
  <body class="container">
    <h1 class="center text ruby bold">Uptimo Login</h1>
    <hr style="opacity: 10%;">
    <form action="/login" method="POST" class="form center">
      <div class="form control center-object">
        <input required placeholder="Name" name="name" type="text">
      </div>
      <div class="form control center-object">
        <input required placeholder="Password" name="pass" type="password">
      </div>
      <div class="buttons">
        <button type="submit" class="button ruby border">Submit</button>
      </div>
    </form>

    <br>
    
    <h1 class="center text ruby bold">Uptimo Register</h1>
    <hr style="opacity: 10%;">
    <form action="/register" method="POST" class="form center">
      <div class="form control center-object">
        <input required placeholder="Name" name="name" type="text">
      </div>
      <div class="form control center-object">
        <input required placeholder="Password" name="pass" type="password">
      </div>
      <div class="buttons">
        <button type="submit" class="button ruby border">Submit</button>
      </div>
    </form>

    <div class="card center">
      <p>Links: <%= has %></p>
      <hr style="opacity: 10%">
      <p>Made by <a href="https://hyrousek.tk" style="background: transparent;">HyRo</a><br>
      Github <a href="https://github.com/xHyroM/Uptimo/" style="background: transparent;">repo</a>
      </p>
    </div>
  </body>
</html>
